body {
    background-color: #2E2E2E;
}

.RE {
    text-align: center;
}

#logginnknapp {
    text-align: center;
    border: 1px white;
    padding: 15px 32px;
}

#logginnknapp:hover {
    text-align: center;
    border: 1px white;
    padding: 17px 35px;
}